PORT=3000
MONGO_URL=mongodb://127.0.0.1:27017/web-almoxarifado
JWT_SECRET=replace-this-secret

TME_TOKEN=replace-this-token
TME_APPLICATION_SECRET=replace-this-secret
TME_COUNTRY=DE
TME_LANGUAGE=EN
TME_CURRENCY=EUR
